{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}刷题练习{% endblock %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ question_type }}</div>
        <div class="panel-body">
            <p>{{ question_context }}</p>


            {% if question_type =='单选题' %}
                {% for ans in options %}
                    <div><p>{{ ans }}</p></div>
                {% endfor %}
                <div><div class="alert-success">正确答案：</div><p>{{ answers }}</p></div>
            {% elif question_type =='多选题' %}
                {% for ans in options %}
                    <div><p>{{ ans }}</p></div>
                {% endfor %}
                <div><div class="alert-success">正确答案：</div><p>{{ answers }}</p></div>
            {% elif question_type =='判断题' %}
                <div><div class="alert-success">正确答案：</div><p>{{ answers }}</p></div>
            {% elif question_type =='填空题' %}
                <div><div class="alert-success">正确答案：</div></div>
                <div>
                    {% for ans in options %}
                        <div><p>{{ ans }}; </p></div>
                    {% endfor %}
                </div>

            {% elif question_type =='简答题' %}
                <div><div class="alert-success">正确答案：</div><p>{{ answers }}</p></div>
            {% endif %}
        </div>


    </div>
    {{ wtf.quick_form(form) }}
{% endblock %}