{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}刷题练习{% endblock %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ question_type }}</div>
        <div class="panel-body">
            {#            todo: 做完这个模版#}
            <p>{{ question_context }}</p>
        </div>
    </div>
    {# 对于多选题，需要将没有内容（label=''）的选项隐藏。因此，多选题传入的是field的list。其它题型传入的则是form。 #}
    {% if form is undefined and blank_num is undefined %}
        <form method="POST">
            {% for field in fields %}
                {% if field.label.text =='' %}
                    <div class="hide"><p>{{ field(class="hide") }}</p></div>
                {% else %}
                    {% if field.type !='BooleanField' %}
                        <p>{{ field }}</p>
                    {% else %}
                        <p>{{ field }}{{ field.label }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </form>
{#        对于填空题,隐藏多余的空格#}
    {% elif blank_num is defined %}
        <form method="POST">
            {% for field in fields %}
                {% if loop.index <= blank_num and field.type =='StringField' %}
                    <p>{{ loop.index }}: {{ field }}</p>
                {% else %}
                    {% if field.type =='StringField' %}
                        <div class="hide"><p>{{ field }}</p></div>
                    {% else %}
                        <div><p>{{ field }}</p></div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </form>
    {% else %}
{#        对于其他题型#}
        {{ wtf.quick_form(form) }}
    {% endif %}

{#  todo:测试不再view中做处理，仅在模版中分析。未完成！！#}
    {#    <form method="POST">#}
    {#        {% set multi = False %}#}
    {#        {% for field in form %}#}
    {#            {% if field.type == 'BooleanField' %}#}
    {#                {% set multi=True %}#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {#        {% if multi %}#}
    {#            {% for field in form. %}#}
    {#                {% if field.type == 'BooleanField' %}#}
    {#                    {% if field.label.text =='' %}#}
    {#                        <div class="hide"><p>{{ field(class="hide") }}</p></div>#}
    {#                    {% else %}#}
    {#                        <p>{{ field }}{{ field.label }}</p>#}
    {#                    {% endif %}#}
    {#                {% else %}#}
    {#                    <p>{{ field }}</p>#}
    {#                {% endif %}#}
    {#            {% endfor %}#}
    {#        {% else %}#}
    {#            {{ wtf.quick_form(form) }}#}
    {#        {% endif %}#}
    {#    </form>#}
{% endblock %}