{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}统计报表{% endblock %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading">统计报表</div>
        <div class="panel-body">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>


        <div class="panel panel-default">
{#            <div class="panel-heading">今日情况统计</div>#}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>部门</th>
                    <th>人数</th>
                    <th>今日做题人数</th>
                    <th>今日做题量</th>
                    <th>部门正确率</th>
                </tr>
                </thead>
                <tbody>
                {% set row_style='info' %}
                {% for row in table %}
                    {% if row_style == 'warning' %}
                        {% set row_style='info' %}
                    {% else %}
                        {% set row_style='warning' %}
                    {% endif %}
                    <tr class="{{ row_style }}">
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


{% endblock %}